<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'rec_system:preference' %}" class="nav-link active"
                   aria-current="page">Предпочтения</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'rec_system:recommend' %}" class="nav-link"
                >Рекомендации</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'rec_system:stats' %}" class="nav-link"
                >Статистика</a>
            </li>
        </ul>
    </header>
</div>